<div id="footer" class="footer navbar-fixed-bottom panel-footer ">
  <div class="row">
    <div class="col-sm-2">
      <span>Links</span>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Menu</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div id="address" class="col-sm-5" >     
      <span>Our Address</span>   
      <span>214 King Street West Downtown, Toronto  ONTARIO</span>
      <span><i class="fa fa-phone" aria-hidden="true"></i> +416 1234 5678</span>
      <span><i class="fa fa-fax" aria-hidden="true"></i> +416 8765 4321</span>
      <span><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto: ilfornello@food.net">ilfornello@food.net</a> </span>
    </div> 
    <div id="social" class="col-sm-5" >   
      <a href="#" class="fa fa-google"></a>  
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-envelope-o"></a>
    </div>       
  </div>
  <div class="row copyright">
    <p>&copy; Copyright 2015 Ristorante Il Fornello</p>
  </div>
</div>

