<div class="container custom-padding">        
 <app-header></app-header>
</div>

<div class="container"> 
  <div class="jumbotron" style="">
    <h1>Ristorante Il Fornello</h1> 
    <p>Simple, fresh ingredients, prepared and cooked with love and passion become truly great dishes, from wood-oven baked Neapolitan style pizzas to pastas, entrees!</p> 
  </div>
  <div class="container custom-padding" >
    <div class="row">
      <div class="col-sm-8">
        <h3>Fichipizza</h3>
        <p>A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado, honey and arugula.</p>
        <a class="more" href="#">More>> </a>
      </div>
      <div class="col-sm-4 section-content ">    
        <div class="center-aligned">
          <h3 class="text-center">Our Unique Culinary Creations</h3>     
        </div> 
      </div>       
    </div>

    <div class="row">
      <div class="col-sm-4 section-content">   
        <div class="center-aligned">
          <h3 class="text-center">This Month's Promotions</h3>     
        </div>    
       
      </div>     
      <div class="col-sm-8">
        <h3> Weekend Grand Buffet</h3>
        <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person</p>
        <a class="more" href="#">More>> </a>
      </div>         
    </div>

    <div class="row">
      <div class="col-sm-8">
        <h3>Tommy McHugh</h3>
        <h5>Executive Chef</h5>
        <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Mediterranean-Italian experiences.</p>
        <a class="more" href="#">More>> </a>
      </div>

      <div class="col-sm-4 section-content">     
        <div class="center-aligned">
          <h3  class="text-center">Meet our Culinary Specialists</h3>   
        </div>       
      </div>       
    </div>
  </div>

  </div> 
    
<div class="container custom-padding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Menu</a>
      </h1>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
          <app-menu></app-menu>
      </div>
    </div>
  </div>
</div>

<div class="container custom-padding">         
  <app-footer></app-footer>
</div>


 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./delete/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./delete/bootstrap.min.js"></script>
